@model ProductModel
<div class="block-title">
    New Product
</div>
<form action="SaveProduct" method="POST">
    
    <div class="form-group">
        <span asp-validation-for="Name" class="errorMessage"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <span asp-validation-for="description" class="errorMessage"></span>
        <label asp-for="description"></label>        
        <textarea asp-for="description" cols="30" rows="5" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <span asp-validation-for="price" class="errorMessage"></span>
        <label asp-for="price"></label>
        <input asp-for="price" class="form-control">
    </div>

    <button class="btn btn-primary">Create</button>
</form>