@model ViewModels
<br>
<a href="/">Home</a>
<br>

<div class="header">
    @Model.ProductModel.Name
</div>

<div class="item-list">
    <div class="block-title">
        Products
    </div>
    @foreach(var ProdRel in @Model.ProductModel.ProdRel)
    {
        <p>
            @ProdRel.Categories.name
        </p>
    }
</div>

<div class="form-div">   
    <partial name="_addCategory.cshtml" model="@Model"/>
</div>